<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php">

    <testsuites>
        <testsuite name="suite1">
            <file>tests/AverageTest.php</file>
        </testsuite>
        <testsuite name="suite2">
            <file>tests/MoreTest.php</file>
        </testsuite>
    </testsuites>

    <php>
        <env name="APP_ENV" value="testing"/>
    </php>

</phpunit>
